.menu-bar{
    background-color: rgb(180, 180, 200);
    color:rgb(17, 18, 18)
}
.title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    font-family: cambria;
}
a{
    color:darkgray;
    text-decoration: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
  margin-right: 50px;
  
}
li{
    list-style: none;
    
}
