
.titlebar{
    background-color: #be2525;
}
span{
    font-size: larger;
    font-weight:bold;
    color: white;
}
.titlename{
    width:100%;
    display:flex;
    margin-left: 39%;
    font-style: italic ;
}
a{
    background-color: #23badf;
    padding:10px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 25px;
    font-size: large;
}
a:hover{
    cursor: pointer;
    color: rgb(217, 227, 21);
}


